// Place all the styles related to the Graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.texas-graph img {
  position: absolute;
  z-index: -1;
}

circle {
  fill: rgba(255, 0, 0, 0.2);
}

.currentCity {
  opacity: 1;
}

.otherCity {
  opacity: 0;
}
